@import "tailwindcss";

@plugin "./hero.ts";

@source "./**/*.{tsx,ts,jsx,js,html}";
@source "../node_modules/@heroui/theme/dist/**/*.{js,ts,jsx,tsx}";

@custom-variant dark (&:is(.dark *));

:root {
  --background: #F7F9F9;
  --foreground: #171717;
  color-scheme: light; 
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@theme inline {
  --font-display: "Poppins", "sans-serif";
  
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --color-f-dark-blue:  #0B467A;
  --color-f-gold:       #FEC425;
  --color-f-light-gray: #bdb7b7;
  --color-f-peach:      #df8c6b;
  --color-f-purple:     #9c6cc9;

  --font-inter:   "Inter", sans-serif;
  --font-poppins: "Poppins", sans-serif;
  --font-roboto:  "Roboto",  sans-serif;
  --font-lato:    "Lato",    sans-serif;
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);

  --breakpoint-phone-max: 639px;   /* `max-phone` */
  --breakpoint-sm:        640px;
  --breakpoint-md:        768px;
  --breakpoint-lg:       1024px;
  --breakpoint-xl:       1280px;
  --breakpoint-2xl:      1536px;
  --breakpoint-desktop:  1440px;
  --breakpoint-wide:     1920px;
  
}

main {
  grid-area: main;
  overflow: auto; 
  display: flex;
  flex-direction: column; 
}

#app {
  display: grid;
  grid-template-areas:
        "header header header"
        "aside main right";
  grid-template-columns: 250px 1fr 250px;
  grid-template-rows: 60px 1fr; 
  height: 100vh; 
  width: 100vw;  
  overflow: hidden; 
}



